<main>
  <form (ngSubmit)="receberDados()">
      <div class="campo-label">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Ex.: email@email.com" [(ngModel)]="userModel.email">
      </div>

      <div class="campo-label">
          <label for="password">Senha</label>
          <input type="password" name="password" id="password" placeholder="Sua senha aqui..." [(ngModel)]="userModel.password">
      </div>

      <input id="botao-enviar" type="submit" value="Login">
  </form>
  <p id="menssagem" *ngIf=" menssagem != '' "></p>
  <a routerLink="">Home</a>
</main>